<!doctype html>
<html lang="en">
<head>
  {% block title %}
  <title></title>
  {% endblock title %}
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load staticfiles %}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- JavaScript -->
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  {% block content %}
  {% endblock content %}
</body>
</html>
