<h1>{{ object.repository }}</h1>
<p>Username: {{ object.username }}</p>
<p>Repository: {{ object.repository }}</p>
<p>Inventory: {{ object.inventory }}</p>

<a href="files/new">Create</a>

<p>Playbook Files: </p>
<ul>
{% for file in object.list_playbook_files %}
    {% for key,value in file.items %}
        <li>
        <form action="{% url 'ansible:playbook-detail' object.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <a href="files/{{ key }}">{{ key }}</a>
            <input type="hidden" name="playbook_file" value="{{ value }}">
            <input type="submit" value="Run" />
            <a href="files/{{ key }}/edit">Edit</a>
        </form>
        </li>
    {% endfor %}
{% endfor %}
</ul>
